@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:#081938;
overflow:hidden;

}

/* BACKGROUND */

.background{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:url("../images/fb-backgound.gif") center center no-repeat;

background-size:cover;

z-index:-3;

}

.overlay{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(5,15,35,.65);

backdrop-filter:blur(3px);

z-index:-2;

}

/* LEFT PANEL */

.left-panel{

position:absolute;

left:8%;
top:50%;

transform:translateY(-50%);

color:#fff;

width:500px;

animation:fadeIn 1.5s;

}

.brand{

width:800px;

margin-bottom:30px;

animation:float 4s ease-in-out infinite;

}

.left-panel{

position:absolute;

left:8%;
top:50%;

transform:translateY(-50%);

width:500px;

display:flex;
flex-direction:column;
align-items:center;
text-align:center;

color:#fff;

animation:fadeIn 1.5s;

}

.brand{

width:690px;
margin-bottom:5px;

animation:float 4s ease-in-out infinite;

filter:drop-shadow(0 15px 35px rgba(0,0,0,.45));

}
.tagline{

font-size:22px;

font-weight:600;

line-height:1.8;

max-width:450px;

color:#fff;

}

.tagline span{

display:block;

margin-top:10px;

font-size:18px;

font-weight:400;

color:#d9d9d9;

letter-spacing:1px;

}

.divider{

display:flex;
align-items:center;

margin:28px 0 25px;

color:#cfcfcf;

font-size:15px;

}

.divider::before,
.divider::after{

content:"";

flex:1;

height:1px;

background:rgba(255,255,255,.18);

}

.divider span{

padding:0 18px;

}

.google-logo-btn{

width:65px;
height:65px;

display:flex;
justify-content:center;
align-items:center;

margin:5px auto;

background:rgba(255,255,255,.05);

backdrop-filter:blur(10px);

border:2px solid rgba(255,255,255,.25);

border-radius:50%;

cursor:pointer;

transition:.4s;

box-shadow:
0 0 15px rgba(255,255,255,.15),
0 0 30px rgba(227,6,19,.15);

}

.google-logo-btn img{

width:48px;

height:48px;

}

.google-logo-btn:hover{

transform:translateY(-6px) scale(1.08);

border-color:#E30613;

box-shadow:
0 0 15px #E30613,
0 0 35px rgba(227,6,19,.8),
0 0 60px rgba(227,6,19,.5);

}

.secure-text{

margin-top:18px;

text-align:center;

font-size:13px;

color:#d6d6d6;

}

.secure-text i{

color:#38d46c;

margin-right:6px;

}

/* LOGIN CARD */

.login-card{

position:absolute;

right:18%;
top:50%;

transform:translateY(-50%);

width:550px;

padding:45px;

border-radius:25px;

background:rgba(12,20,50,.70);

backdrop-filter:blur(18px);

border:1px solid rgba(255,255,255,.15);

box-shadow:0 25px 60px rgba(0,0,0,.45);

animation:slideIn .9s;

}

.login-logo{

width:130px;

display:block;

margin:auto;

margin-bottom:20px;

border-radius:50%;

box-shadow:0 10px 25px rgba(0,0,0,.4);

}

.login-card h2{

color:#fff;

text-align:center;

margin-bottom:10px;

}

.subtitle{

color:#ddd;

text-align:center;

margin-bottom:30px;

}

/* INPUT */

.input-box{

display:flex;

align-items:center;

margin-bottom:20px;

background:#10264a;

padding:15px 18px;

border-radius:12px;

transition:.3s;

}

.input-box:focus-within{

box-shadow:0 0 20px rgba(255,70,70,.45);

border:1px solid #ff4d4d;

}

.input-box i{

color:#fff;

}

.input-box input{

flex:1;

margin-left:15px;

border:none;

outline:none;

background:none;

color:#fff;

font-size:16px;

}

.toggle-password{

cursor:pointer;

}

/* BUTTON */

button{

width:100%;

padding:16px;

border:none;

border-radius:12px;

background:linear-gradient(135deg,#E30613,#ff5b5b);

color:#fff;

font-size:18px;

font-weight:700;

cursor:pointer;

transition:.35s;

}

button:hover{

transform:translateY(-5px);

box-shadow:0 15px 35px rgba(227,6,19,.45);

}

#loginMessage{

margin-top:15px;

text-align:center;

font-weight:600;

}

/* ANIMATION */

@keyframes slideIn{

from{

opacity:0;

transform:translate(80px,-50%);

}

to{

opacity:1;

transform:translate(0,-50%);

}

}

@keyframes fadeIn{

from{

opacity:0;

transform:translateY(-40%);

}

to{

opacity:1;

transform:translateY(-50%);

}

}

@keyframes zoom{

from{

transform:scale(1);

}

to{

transform:scale(1.08);

}

}

@keyframes float{

0%{

transform:translateY(0);

}

50%{

transform:translateY(-10px);

}

100%{

transform:translateY(0);

}

}

/* RESPONSIVE */

@media(max-width:900px){

.left-panel{

display:none;

}

.login-card{

left:50%;

right:auto;

transform:translate(-50%,-50%);

width:95%;

max-width:420px;

}
.toggle-password{

margin-right: 1000px;

}

}